svg#hangman(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 610.965 599.754', style='enable-background:new 0 0 610.965 599.754;', xml:space='preserve')
  g.socle
    path(d='M542.965,586.807h-208c-6.6,0-12-5.4-12-12v-4c0-6.6,5.4-12,12-12h208c6.6,0,12,5.4,12,12v4   C554.965,581.407,549.565,586.807,542.965,586.807z')
  g.pilier
    path(d='M554.965,28.807v546c0,6.6-5.4,12-12,12h-4c-6.6,0-12-5.4-12-12v-546c0-6.6,5.4-12,12-12h4   C549.565,16.807,554.965,22.207,554.965,28.807z')
  g.poutre
    path(d='M554.965,28.807v4c0,6.6-5.4,12-12,12h-124l119.31,119.31c2.75,2.75,2.75,7.25,0,10c-1.37,1.37-3.19,2.06-5,2.06   s-3.63-0.69-5-2.06l-129.31-129.31h-279c-6.6,0-12-5.4-12-12v-4c0-6.6,5.4-12,12-12h423   C549.565,16.807,554.965,22.207,554.965,28.807z')
  g.chute
    path(d='M108.623,190.573V25.041c0-4.608,3.77-8.377,8.377-8.377h0c4.607,0,8.377,3.77,8.377,8.377v165.531   c0,4.607-3.77,8.377-8.377,8.377h0C112.393,198.95,108.623,195.18,108.623,190.573z')

  circle.tete(style='stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;', cx='117.465', cy='199.307', r='35.5')
  path.corp(style='stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;', d='M135.965,391.807h-36c-6.6,0-12-5.4-12-12v-133  c0-6.6,5.4-12,12-12h36c6.6,0,12,5.4,12,12v133C147.965,386.407,142.565,391.807,135.965,391.807z')
  path.main.gauche(style='stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;', d='M102.27,253.816l-69.296,69.296  c-3.111,3.111-8.202,3.111-11.314,0l0,0c-3.111-3.111-3.111-8.202,0-11.314l69.296-69.296c3.111-3.111,8.202-3.111,11.314,0l0,0  C105.381,245.613,105.381,250.704,102.27,253.816z')
  path.main.droite(style='stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;', d='M204.956,324.112l-69.296-69.296  c-3.111-3.111-3.111-8.202,0-11.314l0,0c3.111-3.111,8.202-3.111,11.314,0l69.296,69.296c3.111,3.111,3.111,8.202,0,11.314l0,0  C213.159,327.223,208.068,327.223,204.956,324.112z')
  path.pied.gauche(style='stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;', d='M63.266,529.022L63.266,529.022  c-5.376-1.163-8.823-6.512-7.66-11.888l29.17-134.882c1.163-5.376,6.512-8.823,11.888-7.66l0,0c5.376,1.163,8.823,6.512,7.66,11.888  l-29.17,134.882C73.991,526.737,68.642,530.185,63.266,529.022z')
  path.pied.droit(style='stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;', d='M170.814,527.989L170.814,527.989  c-5.373,1.173-10.73-2.264-11.903-7.637l-29.432-134.825c-1.173-5.373,2.264-10.73,7.637-11.903h0  c5.373-1.173,10.73,2.264,11.903,7.637l29.432,134.825C179.624,521.46,176.187,526.816,170.814,527.989z')
