doctype html
html(lang='en')
	head
		title Titre
		meta(charset='UTF-8')
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="assets/styles/main.css")
	body
		.container
			h1 Jeux du pendu
			.dessin-pendu
			.mot-hasar
			.lettre-true
			.lettre-fase
		// scripts
		script(src="assets/scripts/app.js")