doctype html
html(lang='en')
	head
		title Titre
		meta(charset='UTF-8')
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="assets/styles/main.css")
	body
		include modal
		.container
			h1 Jeux du pendu
			.dessin-pendu
				include hangman
			.main
				.mot-hasar
					h3 Essais restants
				.lettre-true
					h3 Bonne Reponses
				.lettre-fase
					h3 Mauvaise Réponse
		// scripts
		script(src="assets/scripts/mots.js")
		script(src="assets/scripts/modal.js")
		script(src="assets/scripts/app.js")
