.modal
    .modal-background
    .modal-content
        .box
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda optio perspiciatis architecto eveniet minus laboriosam aperiam similique voluptates numquam consequatur.
    button(class="modal-close is-large", aria-label="close", onClick='hideModal()')